@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 48px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 24px;
}
p {
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.header {
  background-color: #1f2937;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header-nav-right {
  display: flex;
  gap: 10px;
}

.header-nav-left.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.header-nav-link {
  font-size: 18px;
  color: #e5e7e8;
  font-weight: 100;
}

.header-hero {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 20px 0;
  margin: 80px 0;
}

.header-hero-text h1 {
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 10px;
}

.header-hero-text h2 {
  font-size: 18px;
  font-weight: 100;
  color: #e5e7e8;
  margin-bottom: 15px;
}

.header-hero-text button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 24px;
  border: none;
  border-radius: 5px;
}

.main-1,
.main-3 {
  padding: 100px 0;
}

.main-1 .heading {
  text-align: center;
}

.main-1 .box-wrapper {
  display: flex;
  gap: 30px;
  margin-top: 40px;
  justify-content: center;
}

.main-1 .box {
  max-width: 180px;
}

.main-1 .box-image {
  width: 100%;
  height: 180px;
  border: 3px #3882f6 solid;
  border-radius: 15px;
}

.main-1 .box-text {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.gray-bg {
  background-color: #e5e7eb;
}

.main-2 {
  padding: 100px 0;
  color: #1f2937;
}

.main-2 .quote-text {
  font-style: italic;
}

.main-2 .quote-author {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.main-3 {
  padding: 100px 0;
}

.main-3 .card {
  background-color: #3882f6;
  padding: 50px 100px;
  border-radius: 10px;
}

.main-3 .card-content {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  color: #f9faf8;
}

.main-3 button.card-button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 24px;
  border: 2px #f9faf8 solid;
  border-radius: 5px;
}

.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
}

.footer p {
  padding: 40px 0;
}
